[Desktop Entry]
#Exec=/usr/bin/WireShare.sh
Categories=Network;FileTransfer;P2P;
Encoding=UTF-8
Exec=/usr/share/java/WireShare/jre-linux/bin/java -jar "/usr/share/java/WireShare/WireShare.jar" %U
Icon=hermes-wireshare
MimeType=application/x-bittorrent;application/torrent;application/x-torrent;x-scheme-handler/magnet;x-scheme-handler/ed2k;
Name=WireShare
Terminal=false
Type=Application
Version=7.0
